.home-cookbook {
    display: flex;
    height: 100vh;
}

.cookbook-index {
    background-color: white;
    width: 25%;
    padding: 18px 0 0 18px;
}

.left-index {
    display: flex;
    flex-direction: column;
    a {
        color: rgb(36, 36, 36);
        &:hover {
            color: rgb(36, 36, 36);
        }
    }
}