.home-cookbook {
    display: flex;
    height: 100vh;
}

.sign-out-btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

.cookbook-index {
    background-color: red;
    width: 200px;
    padding: 18px 0 0 18px;
}